*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    font-family: "JetBrains Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
    text-align: center;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 320px;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}



canvas {
    display: block;
    border: 2px solid #919191;
}